@use '../../styles/mixin.scss' as m;

.frequently {
    padding: 50px 0;

    .carousel {
        .c_cards {
            padding: 50px 0;

            .c_row {
                @include m.dFlex;
                gap: 50px;

                .c_col {
                    padding: 10px 40px;
                    @include m.dFlex;
                    gap: 8px;
                    box-shadow: 1px 1px 8px #ccc;
                    border-radius: 20px;

                    &:hover {
                        box-shadow: 1px 1px 12px #aaa;
                    }

                    img {
                        width: 125px;
                        height: 125px;
                    }

                    h3 {
                        span {}
                    }
                }
            }
        }

    }
}