.cards-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;

    .cards {
        padding: 10px;

        .btns {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}