@use '../../styles/mixin.scss' as m;

.cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;

    .cards {
        width: 100%;
        height: auto;
        padding: 8px;

        .btns {
            margin-top: 25px;
            @include m.dFlex;
            justify-content: space-between;

            span {
                font-weight: bold;
                font-size: 20px;
            }

            .btn {
                @include m.dFlex;
                column-gap: 5px;
            }
        }
    }
}