nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    background-color: #eee;

    .nav-left {
        width: 120px;
    }

    .nav-center {

    }

    .nav-right {

    }
}