.carousel {
    padding: 25px 0;

    .carousels {
        .c_row {
            .c_col {
                img {
                    width: 256px;
                    height: 360px;
                    border-radius: 30px;
                }

            }
        }
    }
}